<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Okta Hooks</title>
</head>
<body>
    <h2>Python - Okta Hooks Example</h2>
    <h4>Powered by <strong>Flask</strong></h4>
    <p></p>
    <p></p>
    <!--<p><a href="/events"><strong>Event Hooks</strong></a></p>-->
    <!--<p><a href="/inline"><strong>Inline Hooks</strong></a></p>-->
    <footer><i>Author: <strong>Adrian Lazar</strong></i></footer>
</body>
</html>